---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const lastProject = (await getCollection("projects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
)[0];
const lastPersonalProject = (await getCollection("personalProjects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
)[0];
console.log(lastProject);
console.log(lastPersonalProject);
---

<Layout
  title="Jonathan Albarran"
  description="Detailed information about Jonathan Albarran, preferences, experience, skills and technology stack used in projects."
  image="/puertofolio/assets/preview.png"
  selectedItem="home"
>
  <main class="fold-content-container">
    <div class="fold-content">
      <h1>Integrating Ideas into Software.</h1>
      <h2>Senior Software Architect & Technical Leader | Java Expert</h2>
      <p>
        Especializado en sistemas financieros de alta disponibilidad,
        arquitecturas orientadas a eventos y modernización de plataformas
        empresariales.
      </p>
    </div>
    <a href="mailto:jaal1388@gmail.com" class="button w-button">Contact</a>
    <div class="projects-section">
      <h3>Proyecto Destacado</h3>
      <a href="/puerttofolio/experience" class="projects-container">
        <div class="single-projects-category">
          <div class="projects-category-image-container">
            <img
              src="/puertofolio/assets/code.svg"
              loading="lazy"
              alt=""
              class="projects-category-image"
            />
          </div>
        </div>
        <div class="single-projects-content">
          <h4>{lastProject.data.title}</h4>
          <h3>{lastProject.data.description}</h3>
          <p>{lastProject.body}</p>
          <div class="tech-tools-container">
            <div class="mini-label-white gray-color">
              Technologies &amp; tools
            </div>
            <div class="chips-container chips-container-small-width">
              {
                lastProject.data.skills.map((skill) => (
                  <div class="single-chip small-chip">{skill}</div>
                ))
              }
            </div>
          </div>
        </div>
      </a>
      <a href="/puertofolio/experience" class="button w-button">View More</a>
    </div>
    <div class="projects-section">
      <h3>Proyectos Personales</h3>
      <a href="/puerttofolio/personal-projects" class="projects-container">
        <div class="single-projects-category">
          <div class="projects-category-image-container">
            <img
              src="/puertofolio/assets/favorite.svg"
              loading="lazy"
              alt=""
              class="projects-category-image"
            />
          </div>
        </div>
        <div class="single-projects-content">
          <h4>{lastPersonalProject.data.title}</h4>
          <h3>{lastPersonalProject.data.description}</h3>
          <p>{lastPersonalProject.body}</p>
          <div class="tech-tools-container">
            <div class="mini-label-white gray-color">
              Technologies &amp; tools
            </div>
            <div class="chips-container chips-container-small-width">
              {
                lastPersonalProject.data.skills.map((skill) => (
                  <div class="single-chip small-chip">{skill}</div>
                ))
              }
            </div>
          </div>
        </div>
      </a>
      <a href="/puertofolio/personal-projects" class="button w-button"
        >View More</a
      >
    </div>
    <div class="projects-section">
      <h3>Skills</h3>
      <a href="/puerttofolio/skills" class="projects-container">
        <div class="single-projects-category">
          <div class="projects-category-image-container">
            <img
              src="/puertofolio/assets/hammer.svg"
              loading="lazy"
              alt=""
              class="projects-category-image"
            />
          </div>
        </div>
        <div class="single-projects-content">
          <h4>Skills</h4>
          <h3>Skills</h3>
          <p>Skills</p>
          <div class="tech-tools-container">
            <div class="mini-label-white gray-color">
              Technologies &amp; tools
            </div>
            <div class="chips-container chips-container-small-width">
              {
                lastProject.data.skills.map((skill) => (
                  <div class="single-chip small-chip">{skill}</div>
                ))
              }
            </div>
          </div>
        </div>
      </a>
      <a href="/puertofolio/skills" class="button w-button">View More</a>
    </div>
    <div class="projects-section">
      <h3>Artificial Intelligence</h3>
      <a href="/puerttofolio/ai" class="projects-container">
        <div class="single-projects-category">
          <div class="projects-category-image-container">
            <img
              src="/puertofolio/assets/ai.svg"
              loading="lazy"
              alt=""
              class="projects-category-image"
            />
          </div>
        </div>
        <div class="single-projects-content">
          <h4>Artificial Intelligence</h4>
          <h3>Artificial Intelligence</h3>
          <p>Artificial Intelligence</p>
          <div class="tech-tools-container">
            <div class="mini-label-white gray-color">
              Technologies &amp; tools
            </div>
            <div class="chips-container chips-container-small-width">
              {
                lastProject.data.skills.map((skill) => (
                  <div class="single-chip small-chip">{skill}</div>
                ))
              }
            </div>
          </div>
        </div>
      </a>
      <a href="/puertofolio/skills" class="button w-button">View More</a>
    </div>
  </main>
</Layout>
