---
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { getCollection } from "astro:content";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const aiProjects = (await getCollection("aiProjects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout
  title="Artificial Intelligence"
  description="Detailed information about Artificial Intelligence by Jonathan Albarrán, skills and technology stack."
  image="/puertofolio/assets/preview.png"
  selectedItem="ai"
>
  <a href={`/puertofolio/${lang}`} class="button w-button">{t("nav.back")}</a>
  <div class="content-container">
    <h1>{t("nav.ai")}</h1>
    <section class="items-container">
      <div>
        {
          aiProjects.map((project) => (
            <Project
              title={project.data.title}
              desc={project.data.description}
              details={project.data.details}
              lang={lang}
              type="ai"
              logo={"ai"}
              skills={project.data.skills}
              startDate={project.data.startDate}
              endDate={project.data.endDate}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
