---
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const certifications = (await getCollection("certifications")).sort(
  (a, b) => b.data.endDate.valueOf() - a.data.endDate.valueOf(),
);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout
  title={t("nav.certifications")}
  description="Detailed information about Certifications by Jonathan Albarrán, experience, skills and technology stack."
  image="/puertofolio/assets/preview.png"
  selectedItem="certifications"
>
  <a href={`/puertofolio/${lang}`} class="button w-button">{t("nav.back")}</a>
  <div class="content-container">
    <h1>{t("nav.certifications")}</h1>
    <section class="items-container">
      <div>
        {
          certifications.map((project) => (
            <Project
              title={project.data.title}
              desc={project.data.description}
              details={project.data.details}
              lang={lang}
              type="certifications"
              logo={"certifications"}
              skills={project.data.skills}
              url={project.data.url}
              startDate={project.data.startDate ?? ""}
              endDate={project.data.endDate ?? ""}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
