---
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout
  title={t("nav.experience")}
  description={t("experience.description")}
  image="/puertofolio/assets/preview.png"
  selectedItem="experience"
>
  <div class="content-container">
    <h1>{t("nav.experience")}</h1>
    <section class="items-container">
      <div>
        {
          projects.map((project) => (
            <Project
              title={project.data.title}
              desc={project.data.description}
              details={project.data.details}
              lang={lang}
              type="projects"
              logo={"experience"}
              skills={project.data.skills}
              startDate={project.data.startDate}
              endDate={project.data.endDate}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
