---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
const personalProjects = (await getCollection("personalProjects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
const lastProject = projects[0];
const lastPersonalProject = personalProjects[0];
const aiProjects = (await getCollection("aiProjects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
console.log(aiProjects);
const lastAiProject = aiProjects[0];
const allProjects = [...projects, ...personalProjects, ...aiProjects];
const skills = allProjects.reduce((acc, project) => {
  project.data.skills.forEach((skill) => {
    if (!acc.some((s) => s.name === skill.name)) {
      acc.push({
        name: skill.name,
        level: skill.level,
        projects: [project.data.title],
      });
    } else {
      const index = acc.findIndex((s) => s.name === skill.name);
      acc[index].level = Math.max(acc[index].level, skill.level);
      acc[index].projects.push(project.data.title);
    }
  });
  return acc;
}, []);
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Project from "../../components/Project.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout
  title="Jonathan Albarrán"
  description="Detailed information about Jonathan Albarrán, preferences, experience, skills and technology stack used in projects."
  image="/puertofolio/assets/preview.png"
  selectedItem="home"
>
  <main class="fold-content-container">
    <div class="fold-content">
      <h1>{t("title")}</h1>
      <h2>{t("subtitle")}</h2>
      <p>
        {t("description")}
      </p>
    </div>
    <a href="mailto:jaal1388@gmail.com" class="button w-button"
      >{t("contact")}</a
    >
    <div>
      <div class="projects-section">
        <div class="flex pt-10 items-center">
          <div class="flex-grow border-t border-gray-400"></div>
          <h3 class="flex-shrink mx-4 text-gray-400">{t("currentProjects")}</h3>
          <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <Project
          title={lastProject.data.title}
          desc={lastProject.data.description}
          details={lastProject.data.details}
          lang={lang}
          type="experience"
          logo={"experience"}
          skills={lastProject.data.skills}
        />
        <a href={`/puertofolio/${lang}/experience`} class="button w-button"
          >{t("viewMore")}</a
        >
      </div>
      <div class="projects-section">
        <div class="flex pt-10 items-center">
          <div class="flex-grow border-t border-gray-400"></div>
          <h3 class="flex-shrink mx-4 text-gray-400">
            {t("nav.personalProjects")}
          </h3>
          <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <Project
          title={lastPersonalProject.data.title}
          desc={lastPersonalProject.data.description}
          details={lastPersonalProject.data.details}
          lang={lang}
          type="personal-projects"
          logo={"favorite"}
          skills={lastPersonalProject.data.skills}
        />
        <a
          href={`/puertofolio/${lang}/personal-projects`}
          class="button w-button">{t("viewMore")}</a
        >
      </div>
      <div class="projects-section">
        <div class="flex pt-10 items-center">
          <div class="flex-grow border-t border-gray-400"></div>
          <h3 class="flex-shrink mx-4 text-gray-400">{t("nav.skills")}</h3>
          <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <a
          href={`/puertofolio/${lang}/skills`}
          class="projects-container mx-auto w-full rounded-xl shadow-lg overflow-hidden border border-gray-500 bg-neutral-800 p-6"
        >
          <div class="flex flex-col w-full">
            {
              skills.map((skill) => (
                <div class="grid grid-cols-2 text-white pt-5">
                  {skill.name}
                  <div class="h-5 w-full">
                    <div class="w-full bg-neutral-500/20 rounded-full h-5 vertical-align-middle">
                      <div
                        class="bg-slate-300 h-5 rounded-full text-slate-900 font-bold pl-2 text-xs vertical-align-middle text-left pt-1"
                        style={`width: ${skill.level * 20}%`}
                      >
                        {skill.level}/5
                      </div>
                    </div>
                  </div>
                  <div class="text-gray-500" title={t("projects")}>
                    {skill.projects.join(", ")}
                  </div>
                </div>
              ))
            }
          </div>
        </a>
        <a href={`/puertofolio/${lang}/skills`} class="button w-button"
          >{t("viewMore")}</a
        >
      </div>
      <div class="projects-section">
        <div class="flex pt-10 items-center">
          <div class="flex-grow border-t border-gray-400"></div>
          <h3 class="flex-shrink mx-4 text-gray-400">{t("nav.ai")}</h3>
          <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <Project
          title={lastAiProject.data.title}
          desc={lastAiProject.data.description}
          details={lastAiProject.data.details}
          lang={lang}
          type="ai"
          logo={"ai"}
          skills={lastAiProject.data.skills}
        />
        <a href={`/puertofolio/${lang}/ai`} class="button w-button"
          >{t("viewMore")}</a
        >
      </div>
    </div>
  </main>
</Layout>
