---
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const personalProjects = (await getCollection("personalProjects")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<Layout
  title={t("nav.personalProjects")}
  description="Detailed information about Personal Projects by Jonathan Albarrán, experience, skills and technology stack."
  image="/puertofolio/assets/preview.png"
  selectedItem="personal-projects"
>
  <a href={`/puertofolio/${lang}`} class="button w-button">{t("nav.back")}</a>
  <div class="content-container">
    <h1>{t("nav.personalProjects")}</h1>
    <section class="items-container">
      <div class="w-min-100">
        {
          personalProjects.map((project) => (
            <Project
              title={project.data.title}
              desc={project.data.description}
              details={project.data.details}
              lang={lang}
              type="personal-projects"
              logo={"favorite"}
              skills={project.data.skills}
              startDate={project.data.startDate}
              endDate={project.data.endDate}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
