---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  image: string;
  selectedItem: string;
}

// revise css color-scheme for dark/light mode
// icons tabler icons

const { title, description, image, selectedItem } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <Header title={title} description={description} image={image} />
  <body>
    <div class="content">
      <Sidebar selectedItem={selectedItem} />
      <nav class="main">
        <div class="container">
          <slot />
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
